<!doctype html>
<html lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <title>Hello world</title>
    {{ content_for_header }}
  </head>
  <body>
    Hello world
    {{ content_for_layout }}
  </body>
</html>
