name: Shopify Theme Preview

on:
  pull_request:
    types: [opened, synchronize]

jobs:
  preview:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/shopify-theme-preview
        with:
          shopify_flag_store: ${{ secrets.SHOPIFY_FLAG_STORE }}
          shopify_cli_theme_token: ${{ secrets.SHOPIFY_CLI_THEME_TOKEN }}
